@font-face {
  font-family: "IBM CGA";
  src: url("/PxPlus_IBM_CGA.ttf");
}

:root {
  --bg: #050505;
  --fg: #9c0;
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  color: var(--fg);
  background: var(--bg);
  font-family: "IBM CGA", "Fixedsys Excelsior", Fixedsys, monospace;
  text-shadow: 0 0 7px var(--fg);

  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  margin: auto 0 0 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
footer li {
  padding: 0;
  margin: 0 3em;
  list-style: none;
  line-height: 2em;
}
footer li::before {
  content: '* ';
}

a {
  color: inherit;
}
a:hover {
  filter: brightness(1.2);
}
