@font-face {
  font-family: "IBM CGA";
  src: url("/PxPlus_IBM_CGA.ttf");
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  color: #ce4;
  background: #050505;
  font-family: "IBM CGA", "Fixedsys Excelsior", Fixedsys, monospace;
  font-smooth: never;

  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 400ms;
  margin-top: 30%;
}
main p, footer {
  transition: all 400ms;
  opacity: 1.0;
}
footer {
  margin: auto 0 0 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
footer li {
  flex: 1;
  padding: 0;
  list-style: none;
  line-height: 2em;
  text-align: center;
  padding: 1em;
}

a {
  color: inherit;
}
a:hover {
  filter: brightness(1.5);
}

.grabbed main {
  margin-top: 0;
}
.grabbed main p, .grabbed footer {
  opacity: 0;
}
