@font-face {
	font-family: "IBM CGA";
	src: url("./PxPlus_IBM_CGA.ttf");
}

@font-face {
	font-family: "Future Outrun";
	src: url("./future-outrun.otf");
}

* {
	box-sizing: border-box;
}
html {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	height: 100%;
	color: #5ec;
	background: #050505;

	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 400ms;
	font-size: 350%;
	color: #f0f;
	font-family: "Future Outrun", "Impact", "Arial Black", sans-serif;
	overflow: hidden;
}
@media (max-width: 768px), (max-height: 480px) {
	main {
		font-size: 150%;
	}
}
main h1 {
	user-select: none;
	margin: 0.5em 0 0 0.2em;
	padding-left: 0.2em;
	letter-spacing: 0.12em;
	transform: rotate(-20deg);
	background: linear-gradient(180deg, rgba(2,55,121,1) 0%, rgba(72,134,219,1) 33%, rgba(248,221,254,1) 54%, rgba(49,19,119,1) 55%, rgba(236,78,189,1) 80%, rgba(251,221,247,1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	filter: drop-shadow(2px 2px 2px #000) drop-shadow(6px 8px 4px #f0f) drop-shadow(-6px -8px 2px #000);
}
main p, footer {
	transition: all 400ms;
	opacity: 1.0;
}
footer {
	font-family: "ibm cga", "fixedsys excelsior", fixedsys, monospace;
	font-smooth: never;
	background: rgba(0, 0, 0, 0.5);
	margin: auto 0 0 0;
}
footer ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
}
footer li {
	flex: 1;
	padding: 0;
	list-style: none;
	height: 4em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 640px) {
	footer ul {
		display: block;
	}
}

a {
	color: inherit;
	transition: all 200ms;
}
a:hover {
	filter: brightness(1.5);
	font-size: 200%;
}

.grabbed main {
	margin-top: 0;
	font-size: 100%;
}
.grabbed main p, .grabbed footer {
	opacity: 0;
}
main, footer {
	z-index: 10;
}
